<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CKP8087 - Lista 5</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Garante que o rodapé fique sempre no final da página */
      }
      main {
        flex: 1; /* Expande o conteúdo principal para ocupar o espaço disponível */
        padding: 20px;
      }

      footer {
        background-color: #f8f9fa;
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <h2>CKP8087 - LISTA-5 - TF-IDF:</h2>

      <!-- Formulário -->
      <form method="POST" class="mb-4">
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control search-input"
              name="term"
              placeholder="Digite sua pesquisa"
              value="{{ term }}"
              required
            />
          </div>

          <div class="col-2">
            <select class="form-select" name="top">
              <option value="5" {{ 'selected' if top == 5 else '' }}>Top 5</option>
              <option value="10" {{ 'selected' if top == 10 else '' }}>Top 10</option>
              <option value="20" {{ 'selected' if top == 20 else '' }}>Top 20</option>
            </select>
          </div>

          <div class="col-2 mb-2">
            <button type="submit" class="btn btn-primary w-100">Pesquisar</button>
          </div>
        </div>

        <div class="row">
          <div class="col">
              <input class="form-check-input" type="checkbox" value="{{ all }}" id="all" name="all" {{ 'checked' if all else '' }}>
              <label class="form-check-label" for="all">
                Usar termo como parte de outros termos?
              </label>
          </div>
        </div>
      </form>

      <!-- Resultados -->
      {% if results %}
      <h2>Resultados da Pesquisa:</h2>
      <table class="table table-striped">
        <thead
          <tr>
            <th width="50px">ID</th>
            <th>Documento</th>
            <th width="100px">Score</th>
          </tr>
        </thead>
        <tbody>
          {% for item in results %}
          <tr>
            <td>{{ item.document_id }}</td>
            <td>{{ item.document_text }}</td>
            <td>{{ item.score }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </main>

    <footer class="mt-auto">
      <p>&copy; 2025 Lista 5 - Estrutura de Dados</p>
    </footer>
  </body>
</html>
